@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* UNIVERSAL */

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

/* MEDIA QUERIES */

    @media screen and (min-width: 0px) {

        /* TAGS */

            body {
                height: 100vh;
                display: grid;
                justify-content: center;
                align-items: center;
                text-align: center;
                background-color: rgb(0, 0, 0);
            }

            main,
            main div {
                display: flex;
                flex-direction: column;
            }

            main {
                height: 30vh;
                width: 60vw;
                justify-content: space-evenly;
                background-color: white;
                border-radius: 1rem;
                padding: 1rem;
            }

            input {
                cursor: pointer;
            }

        /* CLASS */
        /* ID */

    }

    @media screen and (min-width: 401px) {

        /* TAGS */
        /* CLASS */
        /* ID */

    }